<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Activate User Account Request</title>
    </head>
    <body>
        <h2>Hello {{ user.first_name }},</h2>
        <p>
            You requested to activate your account. Please click the link below to activate your
            account:

            <a href="{{ link }}">Activate Account</a>

            If you did not request this, please ignore this email. Thanks!
        </p>
    </body>
</html>
